
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// FontAwesome
@import 'node_modules/font-awesome/scss/font-awesome.scss';

html {
  scroll-behavior: smooth;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.bg-salud{
	background-color: #40b7bd;
	padding: 25px;
	margin-bottom: 12px;
	color: #ffffff;
}

.bg-vida{
	background-color: #2a9a4c;
	padding: 25px;
	margin-bottom: 12px;
	color: #ffffff;
}

.bg-hogar{
	background-color: #e0208f;
	padding: 25px;
	margin-bottom: 12px;
	color: #ffffff;
}

.bg-autos{
	background-color: #c91f3a;
	padding: 25px;
	margin-bottom: 16px;
	color: #ffffff;
}

.spacing-button{
	margin: 12px 0 60px 0;
}

.bg-allianz{
	background-color: #0e2060 !important;
	border-color: #0e2060 !important;
	border-radius: 0px !important;
	padding: 2rem 1rem !important;
	font-weight: bolder !important;
}

.bg-allianz:hover{
	background-color: #0e2060bf !important;
}

.bg-allianz:disabled{
  background-color: #9b9b9b !important;
  border-color: #9b9b9b !important;
  color: #252525;
  opacity: 1 !important;
}

.text-allianz{
	color: #193781;
}

.border-checkbox{
	position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.section-left{
	padding: 0px;
	display : flex;
	justify-content : center;
	align-items : center;
	height : 100%;
}

.section-right{
	padding: 0px;
	display : flex;
	justify-content : center;
	align-items : center;
	background-color:#FFF;
	height : 100%;
	color : #3d231b;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.custom-control-label::before{
	width: 2rem;
    height: 2rem;
    left: 0;
}

.custom-control-label::after{
	width: 2rem;
    height: 2rem;
    left: 0;
}
.checkbox-group .custom-checkbox{
	padding: 15px;
    margin: 10px;
    width: 245px;
    display: inline-block;
}

.checkbox-group .custom-checkbox label{
	width: 180px;
	font-weight: 100;
}

.checkbox-salud .custom-checkbox{
	border: 1px solid #40b7bd;
/*    padding: 15px;
	margin: 15px;*/
}
.checkbox-vida .custom-checkbox{
	border: 1px solid #2a9a4c;
/*    padding: 15px;
    margin: 15px;*/
}

.checkbox-hogar .custom-checkbox{
	border: 1px solid #e0208f;
/*    padding: 15px;
    margin: 15px;*/
}

.checkbox-autos .custom-checkbox{
	border: 1px solid #c91f3a;
/*    padding: 15px;
    margin: 15px;*/
}

.terminos{
	margin-bottom: 20px;
}

.terminos .custom-control-label::before{
	top: -0.1rem;
}

.terminos a{
	padding-left: 30px;
	font-size: 12px;
	font-weight: 100;
    color: #193781;
}

button.bg-allianz{
	font-size: 18px;
	padding: 1rem 4rem !important;
}

.checkbox-salud label{
	color: #40b7bd;
}

.checkbox-vida label{
	color: #2a9a4c;
}

.checkbox-hogar label{
	color: #e0208f;
}

.checkbox-autos label{
	color: #c91f3a;
}

.checkbox-group label.custom-control-label{
	font-size: 20px;
	padding-left: 20px;
}

.checkbox-salud .glyphicon,
.checkbox-vida .glyphicon,
.checkbox-hogar .glyphicon,
.checkbox-autos .glyphicon{
	font-size: 24px;
    padding: 0px 0px 0px 3px;
    color: #193781;
}

.salud{
	background-color: #40b7bd;
}

.vida{
	background-color: #2a9a4c;
}

.hogar{
	background-color: #e0208f;	
}

.autos{
	background-color: #c91f3a;	
}

.aliado-experto p{
	font-size: 16px;
	padding: 0 14%;
}

.bg-salud span.glyphicon.glyphicon-ok{
	padding: 0 10px 0 0;
}

.bg-vida span.glyphicon.glyphicon-ok{
	padding: 0 10px 0 0;
}

.bg-hogar span.glyphicon.glyphicon-ok{
	padding: 0 10px 0 0;
}

.bg-autos span.glyphicon.glyphicon-ok{
	padding: 0 10px 0 0;
}

.jump-to-start{
	display: none;
	width: 60px;
	height: 60px;
	position: fixed;
	bottom: 60px;
	right: 10px;
	color: #fefefe;
	font-size: 40px;
	line-height: 50px;
	text-align: center;
	background-color: #193781;
	z-index: 10;
}

#portafolio > div{
	padding: 0;
}

#portafolio div > h2{
	font-size: 20px;
	padding: 10px 0px 0px 10px;
}

#portafolio div .content{
	padding: 15px;
}

#portafolio .bg-autos {
	margin-bottom: 59px;
}

#agradecimiento-logo{
	margin-left: 30px;
	padding-bottom: 30px;
}

#agradecimiento-logo > img{
	width: 85%;
}

#carouselExampleIndicators .carousel-control-prev,
#carouselExampleIndicators .carousel-control-next{
	bottom: 28% !important;
}